---
import Logo from "./Logo.astro";
---

<footer class="bg-base-200 text-base-content">
  <div class="footer p-10 mx-auto bg-base-200 text-base-content">
    <aside>
      <Logo />
    </aside>
    <nav>
      <header class="footer-title">Tack till</header>
      <a class="link link-hover">Folkuniversitetet bild</a>
      <a class="link link-hover">LTU bild</a>
      <a class="link link-hover">etc</a>
    </nav>
    <nav>
      <header class="footer-title">Lärotillfällen</header>
      <a class="link link-hover">Mån</a>
      <a class="link link-hover">Tis</a>
      <a class="link link-hover">Ons</a>
    </nav>
  </div>
</footer>
