---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";

const { title, lang } = Astro.props;
---

<html lang={lang || "en"}>
  <head>
    <BaseHead {title} description="test" permalink="/" />
  </head>

  <body class="bg-background-50 dark:bg-background-950">
    <header class="flex flex-wrap sm:justify-start sm:flex-nowrap z-50 w-full bg-primary text-sm text-text-800 dark:text-text-100 py-4">
      <Navbar />
    </header>
    <main id="content" role="main">
      <div class="overflow-hidden">
        <div class="container max-w-[85rem] mx-auto text-text-900 dark:text-text-100">
          <slot />
        </div>
      </div>
    </main>
    <Footer site:visible />
  </body>
</html>
