---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";

const { title, lang } = Astro.props;
---

<html lang={lang || "en"} data-theme="phire">
  <head>
    <BaseHead {title} description="test" permalink="/" />
  </head>
  <body>
    <Navigation>
      <main id="content" role="main">
        <div class="overflow-hidden">
          <slot />
        </div>
      </main>
    </Navigation>
    <Footer site:visible />
  </body>
</html>
